/* Tim Asher - CS3744 Project 2: CSS */

  /* Set box-sizing property for all selectors */
* {
    box-sizing: border-box;
  }

  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }

  /* Style top banner - set it to "stick" when scrolling */
  .banner {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    /* background: url("./media/home/tim_header.jpg"); */
  }

  /* Header formatting */
  .page-header {
    padding: 40px;
    text-align: center;
    margin:0px;
    color:white;
    text-shadow: 2px 2px 3px #333;
  }

  /* Account for page banner when using anchor links
     Credit: https://stackoverflow.com/questions/4086107/fixed-page-header-overlaps-in-page-anchors
   */
  :target::before {
    content: "";
    display: block;
    height: 155px; /* fixed header height*/
    margin: -155px 0 0; /* negative fixed header height */
  }

  /* Navbar design inspired by W3Schools Design
     https://www.w3schools.com/css/tryit.asp?filename=trycss_website_layout_blog */
     
  /* Style the top navigation bar */
  .navbar {
    padding: 14px;
    background-color: #333;
    text-align: center;
    justify-content: center;
  }

  /* Style the navigation bar links */
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

  /* Change navigation link color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Style link to GitPages home - different from
     other links since it links to a separate page */
  #home-link {
    background-color: darkcyan;
    color:white;
  }

  /* Style section headers to make them pop, add a bottom border */
  h2 {
    color:maroon;
    border-bottom: 5px;
    border-style: hidden hidden solid hidden;
    border-color: black;
  }

  /* Set contact info header back to default due to dark background */
  #contact-info h2 {
    color:white;
    border-bottom: hidden;
  }

  /* Divide page into two sections, one for picture 
     and one for resume */
  .page-main {  
    display: flex;
    flex-wrap: wrap;
  }

  /* Left section: contains professional picture */
  .side-bar {
    flex: 40%;
    background-color: #f1f1f1;
    padding: 20px;
  }

  /* Style professional picture */
  #profile-img {
    width:100%;
    padding: 20px;
  }

  /* Main section */
  .main-section {
    flex: 60%;
    background-color: white;
    padding: 20px;
  }

  /* Image container/gallery for hobby section */
  .image-container {
    display: flex;
    flex-wrap: wrap;
  }

  /* Style images within container */
  .image-container img {
    flex: 25%;
    max-width: 25%;
    height: 500px;
    object-fit: cover;
    padding: 5px 5px 5px 5px;

  }

  /* Set subsection within skills to be a flex container */
  #skill-lists {
    display: flex;
  }

  /* Each skill list takes up 1/3 of skills section, side-by-side */
  .skills-section {
    width:30%;
  }

  /* Place addresses side-by-side */
  .address-section {
    width: 50%;
    float:left;
  }

  /* Footer - holds contact info */
  .page-footer {
    display: flex;
    padding: 20px;
    text-align: center;
    background: #333;
    color: white;
    justify-content: center;
  }

  /* Style navbar for contact links */
  #footer-navbar {
    padding: 20px;
    margin-top: 100px;
  }

  /* Responsive layout - when the screen is less than 700px wide, 
  make the two columns stack on top of each other instead of next 
  to each other 
  Credit: w3schools.com/css/css_website_layout.asp */
  @media screen and (max-width: 500px) {
    .row, .navbar, .image-container {   
      flex-direction: column;
    }
  }

